# Puerto y modo del servidor
WEB_SERVER_PORT=tu puerto aqui
NODE_ENV=development | production
PMA_SECRET=tu contraseña para phpmyadmin aqui (BLOWFISH_SECRET)

# BBDD
DB_HOST=database # nombre del contendor de la base de datos
DB_PORT=3306
DB_DATABASE=tu base de datos aqui
DB_USER=tu usuario aqui
DB_PASSWORD=tu contraseña aqui
DB_ROOT_PASSWORD=tu contraseña root aqui
DB_TIMEZONE=Z | +00:00 | +02:00

# JWT Auth
JWT_SECRET=tu secret JWT aqui
JWT_EXPIRES_IN=tiempo de expiración del token (ejemplo: 1d, 12h, 30m)